.list {
    list-style: none;
    /* Убираем маркеры */
    padding: 0%;
    margin: 0%;
}

.strong-mame {
     display: none;
 }
/* header & backgroung color main  #FFFFFF */
/* our team backgroung color #F5F4FA */
/*  footer backgroung color  #2F303A */
:root {

    --background-color-main: #FFFFFF;
    --background-color-addition:#2F303A;
    --background-color-button: #F5F4FA;
    --border-color: #EEEEEE;
    --color-main: #212121;
    --color-addition: #757575;
    --color-button: #2196F3;
    --color-white-opacity: rgba(255,255,255,0.6);
    --color-hover: #188CE8;
    --letter-spacing-small: 0,02em;
    --letter-spacing-medium: 0,03em;
    --letter-spacing-big: 0,06em;
    --font-size-extrasmall: 14px;
    --font-size-small: 16px;
    --font-size-medium: 18px;
    --font-size-big: 30px;
    --font-size-superbig: 36px;
    --font-size-logo: 26px;
    --font-weight-four: 400;
    --font-weight-five: 500;
    --font-weight-seven: 700;
    --font-weight-nine: 900;
}

html {
    box-sizing: border-box;
}
*,
*::before
*::after {
    box-sizing: border-box;
}

body  {
    background-color: var(--background-color-main);
    color: var(--color-main);
    font-family: 'Roboto', sans-serif;
    width: 1600px;
      }
/* HEADER */
.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.container.main, .nav-main {
    display: flex;
    align-items: center;
}

header {
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #ECECEC; 
}
.logo {
     font-family: 'Raleway', sans-serif;
     color: #000000;          
     font-size: var(--font-size-logo);
     line-height: 1.19;
     letter-spacing: 0.03em;
     text-decoration: none;
    }
.accent-web {
    color: var(--color-button);
}
.accent-studio {
    color: var(--background-color-main);
}

.site-nav {
    display: flex;
    margin-left: 93px;
}
.site-nav .items + .items {
    margin-left: 50px;
}
.site-nav .link {
    display: block;
    font-weight: var(--font-weight-five);
    font-size: var(--font-size-extrasmall);
    line-height: 1.14;
    letter-spacing: var(--letter-spacing-small);
    text-decoration: none;
}
.link.current {
    color: var(--color-button);
}
.link:hover, .link:focus{
    color: var(--color-hover);    
}
.address-header {
    display: flex;
    margin-left: auto;
}
.header-address {
    display: block;
    color: var(--color-addition);
    font-weight: var(--font-weight-five);
    font-size: var(--font-size-extrasmall);
    line-height: 1.14;
    letter-spacing: var(--letter-spacing-small);
    text-decoration: none;
}
.address-header .items-address:not(:last-child) {
    margin-right: 50px;
}

.header-address:hover, .header-address:focus {
color: var(--color-hover);
}
/* MAIN */
.main-slogan {
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    background-color: var(--background-color-addition);
}  
.slogan-button {
    width: 696px;
    margin: 0 auto;
}
.slogan {
    margin: 0;
    color: var(--background-color-main);
    font-weight: var(--font-weight-nine);
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: var(--letter-spacing-big);
    text-transform: uppercase;
}
.button {
    cursor: pointer;
    border: 0px solid transparent;
}
.button.main {
    display: inline-block;
    margin-top: 30px;
    border-radius: 4px;
    padding: 10px 30px;
    min-width: 200px;
    
    color: var(--background-color-main);
    background-color: var(--color-button);

    font-family: inherit;
    font-weight: var(--font-weight-seven);
    font-size: var(--font-size-small);
    line-height: 1.88;
    letter-spacing: var(--letter-spacing-big);
}
.button.main:hover {
    background-color: var(--color-hover);
}

/* strong points */
.strong-points {
    padding: 94px 0;     
}
.points-list {   
    display: flex;
}
.points-list .items + .items {
    margin-left: 30px;
}
.title {
    margin-top: 0;    
    font-weight: var(--font-weight-seven);
    font-size: var(--font-size-extrasmall);
    line-height: 1.14;
    letter-spacing: var(--letter-spacing-medium);
    text-transform: uppercase;

}
.title-text {
    margin: 0;
    color: var(--color-addition);
    font-weight: var(--font-weight-four);
    font-size: var(--font-size-extrasmall);
    line-height: 1.71;
    letter-spacing: var(--letter-spacing-medium); 
}

/* our job */
.photo-section {
    padding-bottom: 94px;        
}
.section-title { 
    margin-top: 0%;
    margin-bottom: 50px;
    font-weight: var(--font-weight-seven);
    font-size: var(--font-size-superbig);
    line-height: 1.17;
    letter-spacing: var(--letter-spacing-medium);
    text-align: center;
}
.photo {
    display: flex;
    gap: 30px;
}

/* our team */
.section-team {
    padding-top: 94px;
    padding-bottom: 94px;  
    background-color: var(--background-color-button);
}
.team-title {
    display: flex;
    gap: 30px;
    flex-basis: calc((100% - 90px) / 4);
    text-align: center;
}
.team {
    box-sizing: border-box;
    background-color: var(--background-color-main);
}
.team-photo {
        display: block;
        max-width: 100%;
}
.team-description {
      padding: 30px 0;

}
.name {  
    margin: 0em;    
    font-weight: var(--font-weight-five);
    font-size: var(--font-size-small);
    line-height: 1.19; 
    letter-spacing: var(--letter-spacing-medium); 
}
.position {
    margin-top: 10px;
    margin-bottom: 0;
    color: var(--color-addition);
    font-weight: var(--font-weight-four);
    font-size: var(--font-size-small);
    line-height: 1.19;
    letter-spacing: var(--letter-spacing-medium);
}

/* footer */
footer {
   background-color:var(--background-color-addition);
}
.foot {
padding: 60px 0;
}
.logo-footer {
   display: inline-block;
    margin-bottom: 20px;   
    font-family: 'Raleway', sans-serif;
    color: var(--color-button) ;
    font-size: var(--font-size-logo);    
    line-height: 1.19;
    letter-spacing: var(--letter-spacing-medium);
    text-decoration: none;
}

.list-address:nth-child(-n+3){
 margin-bottom: 9px;
}
.address  {
    color: var(--background-color-main);
    font-weight:var(--font-weight-four);
    font-size: var(--font-size-extrasmall);
    line-height: 1.71;
    letter-spacing: var(--letter-spacing-medium);
    text-decoration: none;
}
.address-mail, .address-tel
{
    color: var(--color-white-opacity);
    font-weight: var(--font-weight-four);
    font-size:var(--font-size-extrasmall);
    line-height: 1.71;
    letter-spacing: var(--letter-spacing-medium);
    text-decoration: none;
}
.address:hover, .address:hover, .address-mail:hover, .address-tel:hover,
.address-tel:focus, .address-tel:focus
{
    color: var(--color-hover);
}

/* portfolio  page*/
.portfolio {
    padding: 94px 0;
}
.button.secondary {
    padding: 6px 22px;
    border-radius: 4px;
    font-family: inherit;
    background-color: var(--background-color-button);    
    font-weight: var(--font-weight-five);
    font-size: var(--font-size-small);
    line-height: 1.62;
    letter-spacing: var(--letter-spacing-medium);
}
.button.secondary:hover {
    color: var(--background-color-main);           
    background-color: var(--color-button);
}
.ref {
    text-decoration: none;
}
.job-type {
     display: flex;
     margin-bottom: 34px;
    justify-content: center;
}
.job-type .items + .items {
    margin-left: 8px;
}

.job {
    display: flex;
    flex-wrap: wrap;
  
   }
.job .items {    
    width: calc((100% - 90px)/3);
    height: 404px;
    margin-right: 30px;
    margin-bottom: 30px;
    /* font-size: 0; */

}
.job .items:nth-child(3n) {
    margin-right: 0;
}
.job .items:nth-last-child(-n+3) {
    margin-bottom: 0;
}

.image-job {
    display: block;
    max-width: 100%;
    /* outline: 1px solid red;     */
}
.text-photo {
    box-sizing: border-box;
    padding-top: 20px;
    padding-left: 24px;
    padding-bottom: 20px;
       
    border-bottom: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color); 
}
.text-main {
    margin: 0;
    color: var(--color-main);
    font-weight: var(--font-weight-seven);
    font-size: var(--font-size-medium);
    line-height: 2;
    letter-spacing:var(--letter-spacing-big);   
}
.text-subs {
    margin-top: 4px;
    margin-bottom: 0px;
    color: var(--color-addition);
    font-weight: var(--font-weight-four);
    font-size: var(--font-size-small);
    line-height: 1.88;
    letter-spacing: var(--letter-spacing-medium);
}


  
